:root {
    --cor1: rgb(0, 255, 170);
    --cor2: rgb(74, 0, 194);
}

html {
    scroll-behavior: smooth;
}

/* Header */



/* HOME : index */
.why_col {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#index .home {
    height: 100vh;
    overflow: hidden;
}


#index .background_image {
    background: fixed url(images/bg-espaco3.webp);
    background-size: cover;
    background-position: center;
    scale: 1.5;
    transition: scale 3s ease;
}

#index .home:has(.grid.toggled) .background_image {
    scale: 1;
}


#index .home_title {
    font-size: clamp(3rem, 6vw, 15rem); 
    z-index: 17;
    transition: 2.4s ease;
    transition-property: opacity filter;
    filter: grayscale(100%) brightness(300%) blur(10px);
}

#index .home_title .word {
    text-wrap: nowrap;
}

#index .home:has(.grid.toggled) .home_title {
    filter: grayscale(0%) brightness(100%) blur(0px);
}

#index .home_title .word span {
    display: inline-block;
    translate: 0 15rem;
    transition-property: translate;
    transition-timing-function: ease;
    transition-duration: 1s;

    background: text linear-gradient(to right, var(--cor1), white, var(--cor2), var(--cor1));
    background-size: 1000%; 
    color: transparent; 
    animation: pan-text-background 50s linear infinite;
    animation-delay: calc(var(--index) * -0.1s);
    animation-play-state: paused;
}

#index .home:has(.grid.toggled) .home_title .word span {
    translate: 0 0;
    transition-duration: calc(var(--index) * 0.2s + 2s);
    animation-play-state: running;
}

@keyframes pan-text-background {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: -1000% center;
    }
}

.grid {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15;

    transition: 1.4s ease;
    transition-property: backdrop-filter;
    backdrop-filter: brightness(30%) blur(10px);
    
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.grid.toggled {
    backdrop-filter: brightness(100%) blur(0px);
}

.tile {
    display: inline-block;
    margin: 1px;
    border-radius: 1rem;
    border: 1px solid #ffffff55;
    transition: background-color 0.4s ease;
    background-color: #ffffff33;
}

.teste {
    flex-direction: row-reverse;
}

.initial-text {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    translate: -50% 0;
    z-index: 20;

    font-size: 2rem;
    font-style: italic;
    letter-spacing: 2px;
    color: #ffffffdd;
    pointer-events: none;
    transition: opacity 0.8s ease;
}

@media (orientation: landscape) {
    .tile:hover {
        background-color: #ffffffaa;
        cursor: pointer;
    }
}

/* HOME : contato */

#contato .home_background {
    background: linear-gradient(transparent, black), url(images/ceu-estrelado-background.jpg);
    /*filter: saturate(200%) brightness(120%) contrast(110%);*/
    background-size: cover;
    background-position: center;
}

#contato .home {
    box-shadow: 0 0 100px 10px rgb(20, 19, 38);
    z-index: 5;
}

textarea {
    resize: none;
}

.message_form_button.enviar {
    --cor-botao: var(--cor1);
}

.message_form_button.limpar {
    --cor-botao: var(--cor3);
}

.message_form_button {
    background-color: var(--cor-botao);
    border: 2px solid transparent;
    transition: 0.4s ease;
    box-shadow: 0 0 10px #00000045;
    transition-property: background-color, border-color, color, box-shadow;
}

.message_form_button:hover {
    color: var(--cor-botao);
    background-color: transparent;
    border-color: var(--cor-botao);
    box-shadow: 0 0 4px var(--cor-botao);
}

/* HOME : Tecnologias */

@media (min-width: 500px) {
    .news_post {
        width: 75%;
    }
}

.news_post_image img {
    object-fit: cover;
    width: 100%;
}


/* footer */

.footer_logo {
    height: 4rem;
    font-size: 3rem;
}

.footer_logo img {
    height: 100%;
}

.footer_links {
    text-align: right;
    padding: 0;
}

.footer_list_title {
    font-size: 2.5rem;
}

.footer_list li a {
    font-size: 1.5rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.card {
    aspect-ratio: 1;
    background-image: radial-gradient(circle, white, white);
    box-shadow: 0 0 20px var(--cor1);
    transition: 0.8s ease;
    transition-property: background-image box-shadow;
}

.card a {
    width: 100%;
    height: 100%;
}

.card:nth-child(3n + 1) {
    box-shadow: 0 0 20px #e600ff;
}

.card:hover {
    box-shadow: none;
}

.card:nth-child(1):hover {
    background-image: radial-gradient(circle at 100% 100%, #e600ff, white);
}

.card:nth-child(2):hover {
    background-image: radial-gradient(circle at 0 100%, var(--cor1), white);
}

.card:nth-child(3):hover {
    background-image: radial-gradient(circle at 100% 0, var(--cor1), white);
}

.card:nth-child(4):hover {
    background-image: radial-gradient(circle at 0 0, #e600ff, white);
}

a {
    transition: 0.4s ease;
    transition-property: color;
}
